.calculator {
    width: 20rem;
    height: 30rem;
    background-color: #5D5C5A;
    display: grid;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
  }